body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #3e67c1;
}

h1 {
    color: #2f005c;
}

canvas {
    border: 6px solid #000000;
    margin-top: 40px;
    background-color: #b4ebd0;  
}